---
import ProjectCard from '@components/ProjectCard.astro';
import { payloadApi } from '@lib/ts/api/PayloadAPI';
import type { Project } from '@lib/ts/types/project';

const projects: Project[] = await payloadApi.getAllProjects();
---

<div class="grid gap-8 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3">
	{
		projects.length > 0 ? (
			projects.map((project) => (
				<ProjectCard
					title={project.title}
					description={project.description}
					image={project.image.url}
					slug={project.slug}
					width={project.image.width}
					height={project.image.height}
				/>
			))
		) : (
			<p class="col-span-full text-center text-lg text-gray-600">
				No projects available at the moment. Please check back later.
			</p>
		)
	}
</div>
