---
import ProjectCard from '@components/ProjectCard.astro';
import type { Project, ProjectsApiResponse } from '@lib/types/project';

const response = await fetch(`${import.meta.env.PUBLIC_CMS_API_URL}/projects`);
const projectsData: ProjectsApiResponse = await response.json();
const projects: Project[] = projectsData.docs;
---

<div class="grid gap-8 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3">
	{
		projects.map((project) => (
			<ProjectCard
				title={project.title}
				description={project.description}
				image={`${import.meta.env.PUBLIC_MEDIA_BASE_URL}${project.image.url}`}
				slug={project.slug}
				width={project.image.width}
				height={project.image.height}
			/>
		))
	}
</div>
