---
import ProjectCard from '@components/ProjectCard.astro';
import { payloadApi } from '@lib/ts/api/PayloadAPI';
import type { Project } from '@lib/ts/types/project';

const topThreeProjects: Project[] = await payloadApi.getFeaturedProjects();
---

<section id="projects" class="overflow-hidden bg-gradient-to-t from-bg to-container py-24 md:py-14">
	<div class="mx-auto w-full max-w-screen-xl p-4 md:p-6">
		<h2 class="mb-12 text-center text-4xl font-bold text-accent">Featured Projects</h2>
		<div class="grid grid-cols-1 gap-8 md:grid-cols-2 lg:grid-cols-3">
			{
				topThreeProjects.length > 0 ? (
					topThreeProjects.map((project) => (
						<ProjectCard
							title={project.title}
							description={project.description}
							image={project.image.url}
							slug={project.slug}
							width={project.image.width}
							height={project.image.height}
						/>
					))
				) : (
					<p class="col-span-3 text-center text-text">
						No projects available at the moment. Please check back later.
					</p>
				)
			}
		</div>
	</div>
</section>
