---
import Themes from 'astro-themes';
import Header from '@components/Header.astro';
import Footer from '@components/Footer.astro';
import '@lib/assets/styles/global.css';
import '@fortawesome/fontawesome-free/css/all.min.css';

export interface Props { 
	title: string;
	description: string;
}

const { title, description } = Astro.props;
const siteURL = import.meta.env.SITE_URL;
const canonicalURL = `${siteURL}${Astro.url.pathname}`;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>{title}</title>
		<meta name="description" content={description} />
		<link rel="canonical" href={canonicalURL} />
		<meta name="generator" content={Astro.generator} />
		<link rel="sitemap" href="/sitemap-index.xml" />

		<!-- Open Graph / Facebook -->
		<meta property="og:type" content="website" />
		<meta property="og:url" content={canonicalURL} />
		<meta property="og:title" content={title} />
		<meta property="og:description" content={description} />
		<meta property="og:locale" content="en_US" />

		<!-- Twitter -->
		<meta property="twitter:card" content="summary_large_image" />
		<meta property="twitter:url" content={canonicalURL} />
		<meta property="twitter:title" content={title} />
		<meta property="twitter:description" content={description} />

		<!-- Schema.org for Google -->
		<script is:inline type="application/ld+json">
			{
				"@context": "https://schema.org",
				"@type": "WebPage",
				"name": "{title}",
				"description": "{description}",
				"url": "{canonicalURL}"
			}
		</script>

		<!-- Favicon -->
		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
		<link rel="manifest" href="/site.webmanifest" />

		<!-- Fonts -->
		<link
			href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap"
			rel="stylesheet"
		/>

		<!-- CSS and JavaScript -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/particlesjs/2.2.3/particles.min.js"
		></script>
	</head>
	<body>
		<Themes defaultTheme="dark" />
		<div class="flex min-h-screen flex-col">
			<Header />
			<main class="flex-grow">
				<slot />
			</main>
			<Footer />
		</div>
	</body>
</html>
